<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.owra.web.example.mapper.common.CommonMapper">
	<select id="getCodeList" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		SELECT CODE AS "code", CODE_NM AS "codeNm"
  		  FROM TB_CODE
 		 WHERE CODE_GRP_CD = #{CODE_GRP_CD}
   		   AND USE_YN = 'Y'
   		   AND CODE !='CODE'
	  ORDER BY ORD_NO
	</select>
	<select id="chkAuthRetrieve" parameterType="java.util.HashMap" resultType="int">
		SELECT COUNT(*)
		  FROM TB_MENU A 
		 INNER JOIN TB_AUTH_GRP_MENU B ON (B.MENU_CD = A.MENU_CD AND AUTH_GRP_CD IN <foreach item="item" index="index" collection="user_group" open="(" separator="," close=")">#{item}</foreach> )
		  							  AND B.SITE_GB_CD = 'SG0001'
		  LEFT JOIN TB_USER_TP_AUTH_GRP C ON C.AUTH_GRP_CD IN <foreach item="item" index="index" collection="user_group" open="(" separator="," close=")">#{item}</foreach> AND C.AUTH_GRP_CD = B.AUTH_GRP_CD
		 WHERE A.USE_YN = 'Y'
		   AND A.MENU_URL = #{url}
		   AND A.SITE_GB_CD = 'SG0001'
		   AND SYSDATE BETWEEN C.STR_DTTM AND C.END_DTTM 
	</select>
</mapper>